Source: python-glanceclient
Section: python
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Ghe Rivero <ghe.rivero@stackops.com>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
 python-all (>= 2.6.6-3~)
Build-Depends-Indep:
 pep8,
 python-httplib2,
 python-keystoneclient,
 python-argparse,
 python-mox,
 python-nose,
 python-prettytable,
 python-setuptools,
 python-setuptools-git,
 python-sphinx,
 python-distribute,
 python-warlock,
 python-nosexcover
Standards-Version: 3.9.3
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-glanceclient.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/python-glanceclient.git
Homepage: http://glance.openstack.org

Package: python-glanceclient
Architecture: all
Depends: python-httplib2,
 python-keystoneclient,
 python-prettytable,
 python-setuptools,
 python-keystoneclient,
 python-warlock,
 ${misc:Depends},
 ${python:Depends}
Replaces: glance-common (<< 2012.2)
Description: Client library for Openstack glance server
 The Glance project provides services for discovering, registering, and
 retrieving virtual machine images over the cloud. They may be stand-alone
 services, or may be used to deliver images from object stores, such as
 OpenStack's Swift service, to Nova's compute nodes.
 .
 This is a client for the Glance which uses the OpenStack Image API. There's a
 Python API (the "glanceclient" module), and a command-line script ("glance").
